<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% if (typeof errors !== 'undefined') { %>
      <div class="alert alert-danger">
        <ul>
          <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
          <% }) %>
        </ul>
      </div>
      <% } %>
      <h1>Form ubah data contact</h1>
      <form method="post" action="/contact?_method=PUT">
        <input type="hidden" name="_id" value="<%= contact._id %>" />
          <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="oldnama" value="<%= (contact.oldnama) ? contact.oldnama : contact.nama %>">
        <div class="mb-3">
          <label for="nama" class="form-label">Masukan Nama</label>
          <input type="text" class="form-control" id="nama" name="nama" value="<%= contact.nama %>">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Masukan Email</label>
          <input type="email" class="form-control" id="email" name="email" value="<%= contact.email %>">
        </div>
        <div class="mb-3">
          <label for="nohp" class="form-label">Masukan nohp</label>
          <input type="text" class="form-control" id="nohp" name="nohp" value="<%= contact.nohp %>">
        </div>
        <button type="submit" class="btn btn-primary">ubah data</button>
      </form>
    </div>
  </div>
</div>